fastapi
uvicorn
google-cloud-aiplatform
google-cloud-bigquery
pydantic
google-generativeai
python-dotenv
google-cloud-videointelligence
google-cloud-speech
supabase
anthropic
openai
deepctr-torch
autogen-agentchat
autogen-ext
facebook-business
mcp
torch
numpy
pandas
